[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
O = ST
OU = IT Department
emailAddress = webmaster@example.com
CN = 79.111.156.48

[v3_ca]
subjectAltName = IP:79.111.156.48

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.localhost
DNS.3 = 79.111.156.48