<div class="ms-navigation__content" *ngIf="processing">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <p class="ms-fontSize-x1 ms-fontWeight-light" style="text-align: center;">{{loadingText}}</p>
</div>
<div class="container" *ngIf="!processing">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form autocomplete="off" novalidate>
        <p class="text-muted">Select your action:</p>
        <app-alert [dismissOnTimeout]="5000" [isOpen]="isError" (Closed)="alertClosed()">
            <strong>Error:</strong>
            {{errorMessage}}
        </app-alert>
        <div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="newTrade()">New Trade</button>
          </div>
        </div>
	
	<div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="bulkTrade()">Bulk Trade</button>
          </div>
        </div>

        <div class="row mb-4" *ngIf="!allowUpdateOrders && isSendButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="sendTrade()">Send Trade</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="!allowUpdateOrders && isSendBulkButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="sendBulkTrade()">Send Trade</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="isNotificationButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="sendNotification()">Send Notification</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="getWorkingOrders()">Working Orders</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="isFilterButtonVisible && allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="getFilterOrders()">Filter </button>
          </div>
        </div>

	<div class="row mb-4" >
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="getRMOrders()">Orders</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="isSelectButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="viewDetailedAllocations()">Select</button>
          </div>
        </div>


	<div class="row mb-4" *ngIf="isUpdateButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="updateOrder()">Update Order</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="isUpdateAllocationsVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="updateAllocations()">Update Allocations</button>
          </div>
        </div>

	<div class="row mb-4" *ngIf="isExecuteButtonVisible && allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="updateOrder()">Book Order</button>
          </div>
        </div>
	
	<div class="row mb-4" *ngIf="isStatusButtonVisible">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="updateStatusOrder()">Change Status</button>
          </div>
        </div>
        <div class="row mb-4" *ngIf="isCancelButtonVisible && !allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="deleteOrder()">Cancel Order</button>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="logout()">Logout</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
