<div class="ms-navigation__content" *ngIf="processing">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <p class="ms-fontSize-x1 ms-fontWeight-light" style="text-align: center;">{{loadingText}}</p>
</div>
<div class="container" *ngIf="!processing">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form autocomplete="off" novalidate>
        <p class="text-muted">Select your action:</p>
        <app-alert [dismissOnTimeout]="5000" [isOpen]="isError" (Closed)="alertClosed()">
            <strong>Error:</strong>
            {{errorMessage}}
        </app-alert>
        <div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="newTrade()">New Trade</button>
          </div>
        </div>
        <div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="sendTrade()">Send Trade</button>
          </div>
        </div>
        <div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="myOrders()">My Orders</button>
          </div>
        </div>
        <div class="row mb-4" *ngIf="allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="rmOrders()">RM Orders</button>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="updateOrder()">Update Order</button>
          </div>
        </div>
        <div class="row mb-4" *ngIf="!allowUpdateOrders">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="deleteOrder()">Delete Order</button>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-8">
            <button class="btn btn-primary px-4" type="button" (click)="logout()">Logout</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
