[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
O = FFS
OU = IT Department
emailAddress = webmaster@example.com
CN = 18.195.131.221

[v3_ca]
subjectAltName = IP:18.195.131.221

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.localhost
DNS.3 = 18.195.131.221
DNS.4 = 172.31.30.82
